img{
  height:auto;
  max-width:200px;
  max-height:200px;
  object-fit:contain;
}
.icon{
  padding-left: 1px;
}
.cardproducts{
  width: 200px; 
  text-align: center;
  display:inline-flex ; 
}
.cardproducts Link{
  display:none;
}
.logincard{
  margin-left: 600px
}
.login{
  position:relative;
  left:30%;
}
.login .welcome{
  left:20%;
}